<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.rolllpdf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RolllPDF">

        <activity
            android:name=".presentation.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.main.MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.camera.CameraActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.imageprocessing.ImageProcessingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.crop.CropActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.photofilter.PhotoFilterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.detail.DocumentDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.pro.ProActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.about.AboutUsActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="id.co.rolllpdf.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>